@use "sass:math";
@import "~bootstrap/scss/bootstrap/";

.nav-item {
  .nav-link {
    padding-top: $spacer;
    padding-bottom: $spacer;

    &.disabled {
      font-weight: bold;
    }
  }
}

.nav-second-level {
  font-size: 0.9rem;
  opacity: 0.8;
  
  .nav-link {
    padding-left: $spacer * 3;
    $padding: math.div($spacer, 2);
    padding-top: $padding;
    padding-bottom: $padding;
  }
}
