{
  "plugins": ["react", "prettier"],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jsdoc/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["*.yml"],
  "globals": {
    "window": true,
    "localStorage": true,
    "document": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
     "react/prop-types": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
