.image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1em -1em 1em 0;

  button {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
  }

  .image-wrapper {
    position: relative;
    display: flex;
    width: 25%;
    padding: 0 1em 1em 0;
    flex-direction: column;
    img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      vertical-align: baseline;

      &.selected {
        border: 5px solid darkgreen;
      }
    }

    .form-check {
      position: absolute;
      top: 1em;
      right: 2em;
    }
  }
}
