{
  "campaign": {
    "roles": ["ROLE_ADMIN"]
  },
  "screen": {
    "roles": ["ROLE_ADMIN"]
  },
  "settings": {
    "roles": ["ROLE_ADMIN"]
  },
  "groups": {
    "roles": ["ROLE_ADMIN"]
  },
  "users": {
    "roles": ["ROLE_EXTERNAL_USER_ADMIN"]
  },
  "shared": {
    "roles": ["ROLE_ADMIN"]
  }
}
