{
  "api": "{{ getenv "API_PATH" "/" }}",
  "touchButtonRegions": "{{ getenv "APP_TOUCH_BUTTON_REGIONS" "false"}}",
  "login": {
      "ad": "{{ getenv "APP_ENABLE_AD_LOGIN" "false"}}",
      "external": "{{ getenv "APP_ENABLE_EXTERNAL_LOGIN" "false"}}",
      "usernamePassword": "{{ getenv "APP_ENABLE_USERNAME_PASSWORD_LOGIN" "true"}}"
    }
}
