.login-container {
  padding: 7em;
  height: 100vh;
  background: #f8f9fa;

  @media (max-width: 800px) {
    padding: 0em;
  }

  .login-box-shadow {
    @media (max-width: 480px) {
      box-shadow: white 0px 2px 8px 0px;
    }
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .background-image-screens {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./bg-icons.svg");
  }

  .border-color-white {
    // to override bootstraps self-important !important.
    border-color: rgba(248, 249, 250, 0.4) !important;
  }
}
