.remote-component-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .remote-component-content {
    max-width: 100%;
    height: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    &.vertical {
      aspect-ratio: 9 / 16;
      max-height: 35%;
      @media (max-width: 800px) {
        max-height: 80%;
      }
    }
    &.horizontal {
      aspect-ratio: 16 / 9;
      max-height: 20%;
      @media (max-width: 800px) {
        max-height: 40%;
      }
    }
  }
}
