.navbar-light {
  .topbar-nav {
    &.navbar-nav {
      .nav-link {
        color: var(--bs-gray-dark);
      }
    }
  }
}

// Stolen from brand-css
.name {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}
