{
  "api": "{{ getenv "API_PATH" "/" }}",
  "touchButtonRegions": "{{ getenv "APP_TOUCH_BUTTON_REGIONS" "false"}}",
  "previewClient": "{{ getenv "APP_PREVIEW_CLIENT" "null"}}",
  "rejseplanenApiKey": "{{ getenv "APP_REJSEPLANEN_API_KEY" "null"}}",
  "loginMethods": [
    {
      "type": "oidc",
      "enabled": "{{ getenv "APP_ENABLE_INTERNAL_LOGIN" "true"}}",
      "provider": "internal",
      "label": null,
      "icon": "faCity"
    },
    {
      "type": "oidc",
      "enabled": "{{ getenv "APP_ENABLE_EXTERNAL_LOGIN" "true"}}",
      "provider": "external",
      "label": "",
      "icon": "mitID"
    },
    {
      "type": "username-password",
      "enabled": "{{ getenv "APP_ENABLE_USERNAME_PASSWORD_LOGIN" "true"}}",
      "provider": "username-password",
      "label": null
    }
  ]
}
