@import "~bootstrap/scss/bootstrap/";

.drag-drop-area {
  height: 150px;
  width: 100%;
  background-color: lightblue;
  border: 3px dotted black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  margin: 1rem 0;
  cursor: pointer;
}

.drag-drop-area-active {
  border-color: darkmagenta;
}
.image {
  background-color: $gray-300;

  img {
    object-fit: contain;
    max-width: 100%;
    max-height: 400px;
  }
}

.upload__image-wrapper {
  .row {
    border-bottom: 1px solid $gray-300;
    padding-bottom: $spacer;
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
