.drag-drop-area {
  height: 300px;
  width: 300px;
  border: 5px dotted darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  margin: 1rem 0;
  color: darkgray;
}

.drag-drop-area-active {
  border-color: darkmagenta;
}
