@import "~bootstrap/scss/bootstrap/";

.media-item {
  &-button {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;

    img {
      height: 150px;
      @include media-breakpoint-up(md) {
        height: 200px;
      }
      @include media-breakpoint-up(lg) {
        height: 150px;
      }
      @include media-breakpoint-up(xxl) {
        height: 200px;
      }
      width: 100%;
      object-fit: cover;
      vertical-align: baseline;
      transition: opacity 0.1s ease-out;
    }

    &:hover {
      img {
        opacity: 0.6;
        transition: opacity 0.2s ease-in;
      }
    }
  }

  &.selected {
    border-color: $primary;
    img {
      opacity: 0.8;
      filter: grayscale(50%);
    }
  }

  .form-check {
    position: absolute;
    top: $spacer * 0.5;
    right: $spacer * 0.5;
    pointer-events: none;
  }
}

.slide-media-modal {
  height: 100vh;

  .modal-content {
    height: 100vh;
  }

  .modal-body {
    overflow: scroll;
  }
}
