@import "~bootstrap/scss/bootstrap";

.modal-container {
  z-index: 100;
  background-color: rgba(255, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// To make multicomponent look like bootstrap for now
// @todo change when changing the frontend styling
.invalid {
  .dropdown-container {
    border-color: $red;
  }
  .invalid-feedback-multi {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: $red;
  }
}
