@import "~bootstrap/scss/bootstrap";

html {
  height: -webkit-fill-available;
}

body {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

body,
.row-full-height {
  min-height: 100vh;
}

.root {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

// To make multicomponent look like bootstrap for now
// @TODO: change when changing the frontend styling
.invalid {
  .dropdown-container {
    border-color: $red;
  }
  .invalid-feedback-multi {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: $red;
  }
  .invalid-feedback-image-uploader {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: $red;
  }
}

.toast-wrapper {
  position: fixed;
  right: 10px;
  bottom: 3%;
  background-color: white;
}

.spinner-overlay {
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 5em;
  z-index: 10;

  .spinner-container {
    display: flex;
    position: fixed;

    .loading-spinner {
      margin-right: 1em;
    }
  }
}

.table {
  td {
    vertical-align: middle;
  }
  td:last-child {
    button {
      float: right;
    }
    .btn-secondary {
      float: left;
    }
  }
}

.margin-right-button {
  @include media-breakpoint-up(lg) {
    margin-right: 1rem;
  }
}
