.toggle-preview {
  @media (max-width: 800px) {
    display: none;
  }
}

.responsive-side {
  background: white;

  @media (max-width: 800px) {
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.preview-button-container {
  display: none;
  position: fixed;
  border: 3px solid #f8f9fa;
  background: white;
  right: 0;
  top: 50%;
  flex-direction: column;

  @media (max-width: 800px) {
    display: flex;
    z-index: 2;
  }
  .preview-button {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.preview-overlay {
  background: white;
  z-index: 1021;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
