{
  "openapi": "3.0.0",
  "info": {
    "title": "OS2Display",
    "version": "1.0",
    "contact": {
      "name": "ITKDev",
      "email": "itk@mkb.aarhus.dk"
    },
    "license": {
      "name": "MIT"
    },
    "description": "API displaying content"
  },
  "servers": [
    {
      "url": "http://os2display-api.local.itkdev.dk"
    }
  ],
  "paths": {
    "/v1/layouts": {
      "get": {
        "summary": "Get screens",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "default": "/v1/screens"
                    },
                    "@type": {
                      "type": "string",
                      "default": "hydra:Collection"
                    },
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "title": "screenLayout.v1",
                        "type": "object",
                        "properties": {
                          "@context": {
                            "type": "string"
                          },
                          "@id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "grid": {
                            "type": "object",
                            "required": [
                              "rows",
                              "columns"
                            ],
                            "properties": {
                              "rows": {
                                "type": "integer"
                              },
                              "columns": {
                                "type": "integer"
                              }
                            }
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "gridArea": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "title",
                                "gridArea"
                              ]
                            }
                          }
                        },
                        "required": [
                          "@id",
                          "title",
                          "grid",
                          "regions"
                        ]
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer"
                    },
                    "hydra:view": {
                      "type": "object",
                      "required": [
                        "@id",
                        "@type",
                        "hydra:first",
                        "hydra:last",
                        "hydra:next"
                      ],
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "default": "hydra:PartialCollectionView"
                        },
                        "hydra:first": {
                          "type": "string"
                        },
                        "hydra:last": {
                          "type": "string"
                        },
                        "hydra:next": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "@id",
                    "@type",
                    "hydra:member",
                    "hydra:totalItems",
                    "hydra:view"
                  ]
                },
                "examples": {
                  "Layouts": {
                    "value": {
                      "@id": "/v1/screens",
                      "@type": "hydra:Collection",
                      "hydra:member": [
                        {
                          "@context": "/contexts/Layout",
                          "@id": "/v1/layout/497f6ecf-642-4883-cfeb-53cbf3bf82a9",
                          "title": "4 way split",
                          "grid": {
                            "rows": 2,
                            "columns": 2
                          },
                          "regions": [
                            {
                              "id": "region1",
                              "title": "Region 1",
                              "gridArea": [
                                "a"
                              ]
                            },
                            {
                              "id": "region2",
                              "title": "Region 2",
                              "gridArea": [
                                "b"
                              ]
                            },
                            {
                              "id": "region3",
                              "title": "Region 3",
                              "gridArea": [
                                "c"
                              ]
                            },
                            {
                              "id": "region4",
                              "title": "Region 4",
                              "gridArea": [
                                "d"
                              ]
                            }
                          ]
                        },
                        {
                          "@context": "/contexts/Layout",
                          "@id": "/v1/layout/875f6ecf-642-4638-cfeb-53cbf3feab234",
                          "title": "4 way split",
                          "grid": {
                            "rows": 4,
                            "columns": 12
                          },
                          "regions": [
                            {
                              "id": "region1",
                              "title": "Region 1",
                              "gridArea": [
                                "a",
                                "d"
                              ]
                            },
                            {
                              "id": "region2",
                              "title": "Region 2",
                              "gridArea": [
                                "e",
                                "m"
                              ]
                            },
                            {
                              "id": "region3",
                              "title": "Region 3",
                              "gridArea": [
                                "q",
                                "y"
                              ]
                            },
                            {
                              "id": "region4",
                              "title": "Region 4",
                              "gridArea": [
                                "cc",
                                "oo"
                              ]
                            },
                            {
                              "id": "region5",
                              "title": "Region 5",
                              "gridArea": [
                                "ss",
                                "vv"
                              ]
                            },
                            {
                              "id": "region6",
                              "title": "Region 6",
                              "gridArea": [
                                "f",
                                "rr"
                              ]
                            }
                          ]
                        },
                        {
                          "@context": "/contexts/Layout",
                          "@id": "/v1/layout/1370fecf-642-4883-abcf-53cbf3bf8233",
                          "title": "3x3",
                          "grid": {
                            "rows": 3,
                            "columns": 3
                          },
                          "regions": [
                            {
                              "id": "region1",
                              "title": "Region 1",
                              "gridArea": [
                                "a"
                              ]
                            },
                            {
                              "id": "region2",
                              "title": "Region 2",
                              "gridArea": [
                                "b"
                              ]
                            },
                            {
                              "id": "region3",
                              "title": "Region 3",
                              "gridArea": [
                                "c"
                              ]
                            },
                            {
                              "id": "region4",
                              "title": "Region 4",
                              "gridArea": [
                                "d"
                              ]
                            },
                            {
                              "id": "region5",
                              "title": "Region 5",
                              "gridArea": [
                                "e"
                              ]
                            },
                            {
                              "id": "region6",
                              "title": "Region 6",
                              "gridArea": [
                                "f"
                              ]
                            },
                            {
                              "id": "region7",
                              "title": "Region 7",
                              "gridArea": [
                                "g"
                              ]
                            },
                            {
                              "id": "region8",
                              "title": "Region 8",
                              "gridArea": [
                                "h"
                              ]
                            },
                            {
                              "id": "region9",
                              "title": "Region 9",
                              "gridArea": [
                                "i"
                              ]
                            }
                          ]
                        }
                      ],
                      "hydra:totalItems": 3,
                      "hydra:view": {
                        "@id": "string",
                        "@type": "hydra:PartialCollectionView",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:next": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-v1-layouts",
        "description": "Get layouts with pagination",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": true
          }
        ]
      }
    },
    "/v1/layouts/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The UUID for the screen layout to fetch"
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "screenLayout.v1",
                  "type": "object",
                  "properties": {
                    "@context": {
                      "type": "string"
                    },
                    "@id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "grid": {
                      "type": "object",
                      "required": [
                        "rows",
                        "columns"
                      ],
                      "properties": {
                        "rows": {
                          "type": "integer"
                        },
                        "columns": {
                          "type": "integer"
                        }
                      }
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "gridArea": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "gridArea"
                        ]
                      }
                    }
                  },
                  "required": [
                    "@id",
                    "title",
                    "grid",
                    "regions"
                  ]
                },
                "examples": {
                  "4-way-split": {
                    "value": {
                      "@context": "/contexts/Layout",
                      "@id": "/v1/layout/497f6ecf-642-4883-cfeb-53cbf3bf82a9",
                      "title": "4 way split",
                      "grid": {
                        "rows": 2,
                        "columns": 2
                      },
                      "regions": [
                        {
                          "id": "region1",
                          "title": "Region 1",
                          "gridArea": [
                            "a"
                          ]
                        },
                        {
                          "id": "region2",
                          "title": "Region 2",
                          "gridArea": [
                            "b"
                          ]
                        },
                        {
                          "id": "region3",
                          "title": "Region 3",
                          "gridArea": [
                            "c"
                          ]
                        },
                        {
                          "id": "region4",
                          "title": "Region 4",
                          "gridArea": [
                            "d"
                          ]
                        }
                      ]
                    }
                  },
                  "Complicated": {
                    "value": {
                      "@context": "/contexts/Layout",
                      "@id": "/v1/layout/875f6ecf-642-4638-cfeb-53cbf3feab234",
                      "title": "4 way split",
                      "grid": {
                        "rows": 4,
                        "columns": 12
                      },
                      "regions": [
                        {
                          "id": "region1",
                          "title": "Region 1",
                          "gridArea": [
                            "a",
                            "d"
                          ]
                        },
                        {
                          "id": "region2",
                          "title": "Region 2",
                          "gridArea": [
                            "e",
                            "m"
                          ]
                        },
                        {
                          "id": "region3",
                          "title": "Region 3",
                          "gridArea": [
                            "q",
                            "y"
                          ]
                        },
                        {
                          "id": "region4",
                          "title": "Region 4",
                          "gridArea": [
                            "cc",
                            "oo"
                          ]
                        },
                        {
                          "id": "region5",
                          "title": "Region 5",
                          "gridArea": [
                            "ss",
                            "vv"
                          ]
                        },
                        {
                          "id": "region6",
                          "title": "Region 6",
                          "gridArea": [
                            "f",
                            "rr"
                          ]
                        }
                      ]
                    }
                  },
                  "3x3": {
                    "value": {
                      "@context": "/contexts/Layout",
                      "@id": "/v1/layout/1370fecf-642-4883-abcf-53cbf3bf8233",
                      "title": "3x3",
                      "grid": {
                        "rows": 3,
                        "columns": 3
                      },
                      "regions": [
                        {
                          "id": "region1",
                          "title": "Region 1",
                          "gridArea": [
                            "a"
                          ]
                        },
                        {
                          "id": "region2",
                          "title": "Region 2",
                          "gridArea": [
                            "b"
                          ]
                        },
                        {
                          "id": "region3",
                          "title": "Region 3",
                          "gridArea": [
                            "c"
                          ]
                        },
                        {
                          "id": "region4",
                          "title": "Region 4",
                          "gridArea": [
                            "d"
                          ]
                        },
                        {
                          "id": "region5",
                          "title": "Region 5",
                          "gridArea": [
                            "e"
                          ]
                        },
                        {
                          "id": "region6",
                          "title": "Region 6",
                          "gridArea": [
                            "f"
                          ]
                        },
                        {
                          "id": "region7",
                          "title": "Region 7",
                          "gridArea": [
                            "g"
                          ]
                        },
                        {
                          "id": "region8",
                          "title": "Region 8",
                          "gridArea": [
                            "h"
                          ]
                        },
                        {
                          "id": "region9",
                          "title": "Region 9",
                          "gridArea": [
                            "i"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-layout-id",
        "description": "Get layout based on id",
        "parameters": []
      }
    },
    "/v1/screens": {
      "get": {
        "summary": "Get screens",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "default": "/v1/screens"
                    },
                    "@type": {
                      "type": "string",
                      "default": "hydra:Collection"
                    },
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "title": "Screen",
                        "type": "object",
                        "properties": {
                          "@context": {
                            "type": "string"
                          },
                          "@id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "size": {
                            "type": "integer"
                          },
                          "dimensions": {
                            "type": "object",
                            "required": [
                              "height",
                              "width"
                            ],
                            "properties": {
                              "height": {
                                "type": "integer"
                              },
                              "width": {
                                "type": "integer"
                              }
                            }
                          },
                          "location": {
                            "type": "string"
                          },
                          "regions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "inScreenGroups": {
                            "type": "string"
                          },
                          "layout": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "@id",
                          "title",
                          "description",
                          "size",
                          "dimensions",
                          "location",
                          "regions",
                          "layout",
                          "modified",
                          "created",
                          "modifiedBy",
                          "createdBy"
                        ]
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer"
                    },
                    "hydra:view": {
                      "type": "object",
                      "required": [
                        "@id",
                        "@type",
                        "hydra:first",
                        "hydra:last",
                        "hydra:next"
                      ],
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "default": "hydra:PartialCollectionView"
                        },
                        "hydra:first": {
                          "type": "string"
                        },
                        "hydra:last": {
                          "type": "string"
                        },
                        "hydra:next": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "@id",
                    "@type",
                    "hydra:member",
                    "hydra:totalItems",
                    "hydra:view"
                  ]
                },
                "examples": {
                  "Screens": {
                    "value": {
                      "@context": "/contexts/Screen",
                      "@id": "/v1/screens",
                      "@type": "hydra:Collection",
                      "hydra:member": [
                        {
                          "@context": "/contexts/Screen",
                          "@id": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54",
                          "title": "Test screen 1",
                          "description": "This is an test screen 1 description",
                          "size": 50,
                          "dimensions": {
                            "width": 1920,
                            "height": 1080
                          },
                          "layout": "/v1/layout/{id}",
                          "location": "M2.3",
                          "regions": [
                            "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/region/region1/playlists"
                          ],
                          "inScreenGroups": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/groups",
                          "modified": "2021-09-21T14:02:00Z",
                          "created": "2021-07-21T10:25:00Z",
                          "modifiedBy": "Jens Jensen",
                          "createdBy": "Ole Olesen"
                        },
                        {
                          "@context": "/contexts/Screen",
                          "@id": "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e",
                          "title": "Test screen 2",
                          "description": "This is an test screen 2 description",
                          "size": 75,
                          "dimensions": {
                            "width": 1920,
                            "height": 1080
                          },
                          "layout": "/v1/layouts/{id}",
                          "location": "M2.5",
                          "regions": [
                            "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e/regions/region1/playlists",
                            "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e/regions/region2/playlists"
                          ],
                          "inScreenGroups": "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e/groups",
                          "modified": "2021-08-04T10:12:00Z",
                          "created": "2021-07-21T12:05:00Z",
                          "modifiedBy": "Jens Jensen",
                          "createdBy": "Ole Olesen"
                        }
                      ],
                      "hydra:totalItems": 2,
                      "hydra:view": {
                        "@id": "/v1/screens?page=1",
                        "@type": "hydra:PartialCollectionView",
                        "hydra:first": "/v1/screens?page=1",
                        "hydra:last": "/v1/screens?page=1",
                        "hydra:next": "/v1/screens?page=1"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-v1-screens",
        "description": "Get screeen with pagination",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": true
          }
        ]
      },
      "post": {
        "summary": "",
        "operationId": "post-v1-screen-id",
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Link to the new resource"
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Screen",
                "type": "object",
                "x-examples": {},
                "properties": {
                  "@context": {
                    "type": "string"
                  },
                  "@id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "dimensions": {
                    "type": "object",
                    "required": [
                      "height",
                      "width"
                    ],
                    "properties": {
                      "height": {
                        "type": "integer"
                      },
                      "width": {
                        "type": "integer"
                      }
                    }
                  },
                  "location": {
                    "type": "string"
                  },
                  "regions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "inScreenGroups": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "modified": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedBy": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  }
                },
                "required": [
                  "@id",
                  "title",
                  "description",
                  "size",
                  "dimensions",
                  "location",
                  "regions",
                  "layout",
                  "modified",
                  "created",
                  "modifiedBy",
                  "createdBy"
                ]
              }
            }
          },
          "description": ""
        },
        "description": "Create new screeen"
      }
    },
    "/v1/screens/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The UUID for the screen to get"
        }
      ],
      "get": {
        "summary": "Get screen information",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "title": "Screen",
                  "type": "object",
                  "x-examples": {},
                  "properties": {
                    "@context": {
                      "type": "string"
                    },
                    "@id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "dimensions": {
                      "type": "object",
                      "required": [
                        "height",
                        "width"
                      ],
                      "properties": {
                        "height": {
                          "type": "integer"
                        },
                        "width": {
                          "type": "integer"
                        }
                      }
                    },
                    "location": {
                      "type": "string"
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "inScreenGroups": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "@id",
                    "title",
                    "description",
                    "size",
                    "dimensions",
                    "location",
                    "regions",
                    "layout",
                    "modified",
                    "created",
                    "modifiedBy",
                    "createdBy"
                  ]
                },
                "examples": {
                  "Screen 1": {
                    "value": {
                      "@context": "/contexts/Screen",
                      "@id": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54",
                      "title": "Test screen 1",
                      "description": "This is an test screen 1 description",
                      "size": 50,
                      "dimensions": {
                        "width": 1920,
                        "height": 1080
                      },
                      "layout": "/v1/layout/{id}",
                      "location": "M2.3",
                      "regions": [
                        "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/region/region1/playlists"
                      ],
                      "inScreenGroups": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/groups",
                      "modified": "2021-09-21T14:02:00Z",
                      "created": "2021-07-21T10:25:00Z",
                      "modifiedBy": "Jens Jensen",
                      "createdBy": "Ole Olesen"
                    }
                  },
                  "Screen 2": {
                    "value": {
                      "@context": "/contexts/Screen",
                      "@id": "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e",
                      "title": "Test screen 2",
                      "description": "This is an test screen 2 description",
                      "size": 75,
                      "dimensions": {
                        "width": 1920,
                        "height": 1080
                      },
                      "layout": "/v1/layouts/{id}",
                      "location": "M2.5",
                      "regions": [
                        "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e/regions/region1/playlists",
                        "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e/regions/region2/playlists"
                      ],
                      "inScreenGroups": "/v1/screens/854f6ecb-6276-6854-bfeb-53cffffa6d1e/groups",
                      "modified": "2021-08-04T10:12:00Z",
                      "created": "2021-07-21T12:05:00Z",
                      "modifiedBy": "Jens Jensen",
                      "createdBy": "Ole Olesen"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-screen",
        "description": "Retrieve basic screen information and regions configuraiton",
        "parameters": []
      },
      "delete": {
        "summary": "",
        "operationId": "delete-v1-screen-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Delete existing screen"
      },
      "put": {
        "summary": "",
        "operationId": "put-v1-screen-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Screen",
                "type": "object",
                "x-examples": {},
                "properties": {
                  "@context": {
                    "type": "string"
                  },
                  "@id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "dimensions": {
                    "type": "object",
                    "required": [
                      "height",
                      "width"
                    ],
                    "properties": {
                      "height": {
                        "type": "integer"
                      },
                      "width": {
                        "type": "integer"
                      }
                    }
                  },
                  "location": {
                    "type": "string"
                  },
                  "regions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "inScreenGroups": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "modified": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedBy": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  }
                },
                "required": [
                  "@id",
                  "title",
                  "description",
                  "size",
                  "dimensions",
                  "location",
                  "regions",
                  "layout",
                  "modified",
                  "created",
                  "modifiedBy",
                  "createdBy"
                ]
              }
            }
          }
        },
        "description": "Updated existing screen"
      }
    },
    "/v1/screens/{id}/groups": {
      "get": {
        "summary": "Get playlists based on offset",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "default": "/v1/playlists"
                    },
                    "@type": {
                      "type": "string",
                      "default": "hydra:Collection"
                    },
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "title": "screenGroups",
                        "type": "object",
                        "examples": [],
                        "properties": {
                          "@context": {
                            "type": "string"
                          },
                          "@id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "modified": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "@id",
                          "title",
                          "description",
                          "modified",
                          "created",
                          "modifiedBy",
                          "createdBy"
                        ]
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer"
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "default": "hydra:PartialCollectionView"
                        },
                        "hydra:first": {
                          "type": "string"
                        },
                        "hydra:last": {
                          "type": "string"
                        },
                        "hydra:next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Groups": {
                    "value": {
                      "@id": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/groups",
                      "@type": "hydra:Collection",
                      "hydra:member": [
                        {
                          "@context": "/contexts/ScreenGroup",
                          "@id": "/v1/screenGroup/67276898-0228-4982-bf5e-fc35ad7d594b",
                          "title": "Meeting rooms",
                          "description": "The meeting rooms on dokk1",
                          "modified": "2019-08-24T14:15:22Z",
                          "created": "2019-08-24T14:15:22Z",
                          "modifiedBy": "Jens Jensen",
                          "createdBy": "Jens Jensen"
                        },
                        {
                          "@context": "/contexts/ScreenGroup",
                          "@id": "f7e00d41-3fef-44fd-b9fa-0ac4c47641a6",
                          "title": "Dokk1 level 1",
                          "description": "All screens on level 1 in dokk1",
                          "modified": "2021-08-24T14:05:45Z",
                          "created": "2021-08-24T10:10:22Z",
                          "modifiedBy": "Ole Olesen",
                          "createdBy": "Jens Jensen"
                        }
                      ],
                      "hydra:totalItems": 2,
                      "hydra:view": {
                        "@id": "string",
                        "@type": "hydra:PartialCollectionView",
                        "hydra:first": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/groups?page=1",
                        "hydra:last": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/groupsring?page=1",
                        "hydra:next": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/groups?page=1"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-v1-screens-id-groups",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "format": "int32",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": true
          }
        ],
        "description": "Get all groups this screen is in"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Screens ID"
        }
      ]
    },
    "/v1/screens/{id}/groups/{groupId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "groupId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "",
        "operationId": "put-v1-screens-id-groups-groupId",
        "responses": {
          "201": {
            "description": "Created"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Link screen to screen group"
      },
      "delete": {
        "summary": "",
        "operationId": "delete-v1-screens-id-groups-groupId",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Remove link between screen and screen group"
      }
    },
    "/v1/screens/{id}/regions/{regionId}/playlists": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "regionId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get playlists based on offset",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "default": "/v1/playlists"
                    },
                    "@type": {
                      "type": "string",
                      "default": "hydra:Collection"
                    },
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "title": "Playlist",
                        "type": "object",
                        "properties": {
                          "@context": {
                            "type": "string"
                          },
                          "@id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "onScreens": {
                            "type": "string"
                          },
                          "published": {
                            "type": "object",
                            "required": [
                              "from",
                              "to"
                            ],
                            "properties": {
                              "from": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "to": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "required": [
                          "@id",
                          "title",
                          "description",
                          "modified",
                          "created",
                          "modifiedBy",
                          "createdBy",
                          "published"
                        ]
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer"
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "default": "hydra:PartialCollectionView"
                        },
                        "hydra:first": {
                          "type": "string"
                        },
                        "hydra:last": {
                          "type": "string"
                        },
                        "hydra:next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Playlists": {
                    "value": {
                      "@context": "/contexts/playlist",
                      "@id": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/regions/region1/playlists",
                      "@type": "hydra:Collection",
                      "hydra:member": [
                        {
                          "@context": "/contexts/playlist",
                          "@id": "/v1/playlist/29ff6eca-8778-6789-bfeb-53e4bf4a6457",
                          "title": "The first playlist",
                          "description": "This is an playlist wiht image and video",
                          "modified": "2021-09-21T17:32:28Z",
                          "created": "2021-09-21T17:00:01Z",
                          "modifiedBy": "Jens Jensen",
                          "createdBy": "Ole Olesen",
                          "onScreens": "/v1/playlists/29ff6eca-8778-6789-bfeb-53e4bf4a6457/screens",
                          "published": {
                            "from": "2021-09-21T17:00:01Z",
                            "to": "2021-07-22T17:00:01Z"
                          }
                        }
                      ],
                      "hydra:totalItems": 1,
                      "hydra:view": {
                        "@id": "/v1/playlists?page=1",
                        "@type": "hydra:PartialCollectionView",
                        "hydra:first": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/regions/region1/playlists?page=1",
                        "hydra:last": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/regions/region1/playlists?page=1",
                        "hydra:next": "/v1/screens/497f6eca-6276-1596-bfeb-53ceb43a6f54/regions/region1/playlists?page=1"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-v1-screens-id-regions-regionId-playlists",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "format": "int32",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": true
          }
        ],
        "description": "Get all playlists in an given screens region"
      }
    },
    "/v1/screens/{id}/regions/{regionId}/playlists/{playlistId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "regionId",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "playlistId",
          "in": "path",
          "required": true
        }
      ],
      "put": {
        "summary": "",
        "operationId": "put-v1-screens-id-regions-regionId-playlists-playlistId",
        "responses": {
          "201": {
            "description": "Created"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Add playlist to an screens region"
      },
      "delete": {
        "summary": "",
        "operationId": "delete-v1-screens-id-regions-regionId-playlists-playlistId",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Delete playlist from an screens region"
      }
    },
    "/v1/screenGroups": {
      "get": {
        "summary": "Get playlists based on offset",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "default": "/v1/playlists"
                    },
                    "@type": {
                      "type": "string",
                      "default": "hydra:Collection"
                    },
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "title": "screenGroups",
                        "type": "object",
                        "examples": [],
                        "properties": {
                          "@context": {
                            "type": "string"
                          },
                          "@id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "modified": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "@id",
                          "title",
                          "description",
                          "modified",
                          "created",
                          "modifiedBy",
                          "createdBy"
                        ]
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer"
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "default": "hydra:PartialCollectionView"
                        },
                        "hydra:first": {
                          "type": "string"
                        },
                        "hydra:last": {
                          "type": "string"
                        },
                        "hydra:next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Screen groups": {
                    "value": {
                      "@id": "/v1/screenGroups",
                      "@type": "hydra:Collection",
                      "hydra:member": [
                        {
                          "@context": "/contexts/ScreenGroups",
                          "@id": "/v1/screenGroups/67276898-0228-4982-bf5e-fc35ad7d594b",
                          "title": "Meeting rooms",
                          "description": "The meeting rooms on dokk1",
                          "modified": "2019-08-24T14:15:22Z",
                          "created": "2019-08-24T14:15:22Z",
                          "modifiedBy": "Jens Jensen",
                          "createdBy": "Jens Jensen"
                        },
                        {
                          "@context": "/contexts/ScreenGroups",
                          "@id": "/v1/screenGroups/f7e00d41-3fef-44fd-b9fa-0ac4c47641a6",
                          "title": "Dokk1 level 1",
                          "description": "All screens on level 1 in dokk1",
                          "modified": "2021-08-24T14:05:45Z",
                          "created": "2021-08-24T10:10:22Z",
                          "modifiedBy": "Ole Olesen",
                          "createdBy": "Jens Jensen"
                        }
                      ],
                      "hydra:totalItems": 2,
                      "hydra:view": {
                        "@id": "string",
                        "@type": "hydra:PartialCollectionView",
                        "hydra:first": "string",
                        "hydra:last": "string",
                        "hydra:next": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-v1-screenGroups",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "format": "int32",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": true
          }
        ],
        "description": "Get all screen groups"
      },
      "post": {
        "summary": "",
        "operationId": "post-v1-screenGroup-id",
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Link to the new resource"
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "screenGroups",
                "type": "object",
                "examples": [],
                "properties": {
                  "@context": {
                    "type": "string"
                  },
                  "@id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "modified": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedBy": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  }
                },
                "required": [
                  "@id",
                  "title",
                  "description",
                  "modified",
                  "created",
                  "modifiedBy",
                  "createdBy"
                ]
              }
            }
          }
        },
        "description": "Create new screeen group"
      }
    },
    "/v1/screenGroups/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "screenGroups",
                  "type": "object",
                  "examples": [],
                  "properties": {
                    "@context": {
                      "type": "string"
                    },
                    "@id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "modified": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "modifiedBy": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "@id",
                    "title",
                    "description",
                    "modified",
                    "created",
                    "modifiedBy",
                    "createdBy"
                  ]
                },
                "examples": {
                  "Meeting rooms": {
                    "value": {
                      "@context": "/contexts/ScreenGroup",
                      "@id": "/v1/screenGroup/67276898-0228-4982-bf5e-fc35ad7d594b",
                      "title": "Meeting rooms",
                      "description": "The meeting rooms on dokk1",
                      "modified": "2019-08-24T14:15:22Z",
                      "created": "2019-08-24T14:15:22Z",
                      "modifiedBy": "Jens Jensen",
                      "createdBy": "Jens Jensen"
                    }
                  },
                  "Dokk1 level 1": {
                    "value": {
                      "@context": "/contexts/ScreenGroup",
                      "@id": "f7e00d41-3fef-44fd-b9fa-0ac4c47641a6",
                      "title": "Dokk1 level 1",
                      "description": "All screens on level 1 in dokk1",
                      "modified": "2021-08-24T14:05:45Z",
                      "created": "2021-08-24T10:10:22Z",
                      "modifiedBy": "Ole Olesen",
                      "createdBy": "Jens Jensen"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get screen group",
        "operationId": "get-v1-screenGroups-id"
      },
      "put": {
        "summary": "",
        "operationId": "put-v1-screenGroup-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Update existing screen group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "screenGroups",
                "type": "object",
                "examples": [],
                "properties": {
                  "@context": {
                    "type": "string"
                  },
                  "@id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "modified": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedBy": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  }
                },
                "required": [
                  "@id",
                  "title",
                  "description",
                  "modified",
                  "created",
                  "modifiedBy",
                  "createdBy"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "",
        "operationId": "delete-v1-screenGroup-id",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Remove existing screen group"
      }
    },
    "/v1/playlists": {
      "get": {
        "summary": "Get playlists based on offset",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "default": "/v1/playlists"
                    },
                    "@type": {
                      "type": "string",
                      "default": "hydra:Collection"
                    },
                    "hydra:member": {
                      "type": "array",
                      "items": {
                        "title": "Playlist",
                        "type": "object",
                        "x-examples": {},
                        "properties": {
                          "@context": {
                            "type": "string"
                          },
                          "@id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "modified": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "modifiedBy": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "onScreens": {
                            "type": "string"
                          },
                          "published": {
                            "type": "object",
                            "required": [
                              "from",
                              "to"
                            ],
                            "properties": {
                              "from": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "to": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "required": [
                          "@id",
                          "title",
                          "description",
                          "modified",
                          "created",
                          "modifiedBy",
                          "createdBy",
                          "published"
                        ]
                      }
                    },
                    "hydra:totalItems": {
                      "type": "integer"
                    },
                    "hydra:view": {
                      "type": "object",
                      "properties": {
                        "@id": {
                          "type": "string"
                        },
                        "@type": {
                          "type": "string",
                          "default": "hydra:PartialCollectionView"
                        },
                        "hydra:first": {
                          "type": "string"
                        },
                        "hydra:last": {
                          "type": "string"
                        },
                        "hydra:next": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Playlists": {
                    "value": {
                      "@context": "/contexts/playlist",
                      "@id": "/v1/playlists",
                      "@type": "hydra:Collection",
                      "hydra:member": [
                        {
                          "@context": "/contexts/playlist",
                          "@id": "/v1/playlist/29ff6eca-8778-6789-bfeb-53e4bf4a6457",
                          "title": "The first playlist",
                          "description": "This is an playlist wiht image and video",
                          "modified": "2021-09-21T17:32:28Z",
                          "created": "2021-09-21T17:00:01Z",
                          "modifiedBy": "Jens Jensen",
                          "createdBy": "Ole Olesen",
                          "onScreens": "/v1/playlists/29ff6eca-8778-6789-bfeb-53e4bf4a6457/screens",
                          "published": {
                            "from": "2021-09-21T17:00:01Z",
                            "to": "2021-07-22T17:00:01Z"
                          }
                        }
                      ],
                      "hydra:totalItems": 1,
                      "hydra:view": {
                        "@id": "/v1/playlists?page=1",
                        "@type": "hydra:PartialCollectionView",
                        "hydra:first": "/v1/playlists?page=1",
                        "hydra:last": "/v1/playlists?page=1",
                        "hydra:next": "/v1/playlists?page=1"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "operationId": "get-v1-playlists",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "format": "int32",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": true
          }
        ],
        "description": "Get playlists based on offset"
      },
      "post": {
        "summary": "",
        "operationId": "post-v1-playlists-id",
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "Link to the new resource"
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/ld+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "1": {
                    "value": {
                      "message": "Unknown internal application error"
                    }
                  }
                }
              }
            },
            "headers": {}
          }
        },
        "description": "Create new playlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Playlist",
                "type": "object",
                "x-examples": {},
                "properties": {
                  "@context": {
                    "type": "string"
                  },
                  "@id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "modified": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "created": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "modifiedBy": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  },
                  "onScreens": {
                    "type": "string"
                  },
                  "published": {
                    "type": "object",
                    "required": [
                      "from",
                      "to"
                    ],
                    "properties": {
                      "from": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "to": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "required": [
                  "@id",
                  "title",
                  "description",
                  "modified",
                  "created",
                  "modifiedBy",
                  "createdBy",
                  "published"
                ]
              }
            }
          }
        }
      }
    },
    "/v1/playlists/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get single playlist",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/ld+json": {
                "schema": {
                  "title": "Playlist",
                  "type": "object",
                  "x-examples": {},
                  "properties": {
                    "@context": {
                      "type": "string"
                    },
                    "@id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
[...]
